* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-size: 17px;
    font-family: 'Inter', sans-serif;
}
.btn {
    width: 90px;
    padding: 12px 16px;
    border-radius: 30px;   
    margin: auto;    
    background: white;    
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -50px;
    box-shadow: -20px 11px 20px 0px lightslategrey;
}


img.profileImg {
    display: block;
    width: 78%;
    margin: auto;
    border-radius: 5px;  
}
.imgContainer {
    padding: 30px 0 30px;
    background-image: url(./images/pattern-bg.svg);
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: 100%;
    width: 90%;
    margin: auto;
}
.hideProfile {
   
}
main {
    padding-top: 30px;
 /*   background-image: url(./images/pattern-bg.svg);
    background-repeat: no-repeat;
    background-position: 50% 6%;
    background-size: 90%; */
}
.quortes {
    background-image: url(./images/pattern-quotes.svg);
    background-size: 18%;
    width: 95%;
    margin: -3% 6.5% 4%;
    background-repeat: no-repeat;
    background-position: 45% 2%;
    line-height: 1.4;
    padding-top: 32px;
    text-align: center;
    font-size: 1.25rem;
}
blockquote {
    font-weight: 100;
    width: 91%;
}
footer img{
   width: 75%;
   margin-top: -16px;
}
p.profiles {
    margin-top: 16px;
    text-align: center;
    font-size: 1rem;
}
strong.profileName {
      
}
span.role {
    
}
@media screen and (min-width: 560px) {
    .imgContainer {       
        width: 70%;      
    }
}

@media screen and (min-width: 1120px) {
    main {       
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .profile {
        grid-area: 1/2/1/2;
    }
    img.profileImg {       
        width: 78%;
        margin: 62px 25px 25px;       
    }
    .imgContainer {        
        width: 98%;
    margin: 5px 6px
    } 
    footer img {        
        margin-top: -147px;
    } 
    .quortes {
        position: relative;
    width: 100%;
    font-size: 2.25rem;
    margin-top: 25%;
    margin-left: 83px;
    font-weight: 100;
    padding-top: 80px;
    background-position: 32% 2%;
    background-size: 17%;
    }  
    blockquote {
        position: relative;
        left: 100px;
        text-align: left;
    }
    .btn {  
        width: 125px;
        padding: 21px;
        border-radius: 30px;
        top: -100px;
        left: -240px;       
    }
    p.profiles { 
        margin-top: 39px;       
        display: flex;
        justify-content: left;
        column-gap: 10px;
        width: 91%;
        margin-left: 100px;
        font-size: 1.45rem;
    }
    span.role {
        margin-left: 7px;
    }
       
}

@media screen and (min-width: 1480px) {
    body {
        width: 80%;
        margin: auto;
    }
}
