* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-size: 17px;
    font-family: 'Inter', sans-serif;
}
.btn {
    width: 68px;
    margin: auto;
    /* text-align: center; */
    background: white;
    padding: 6px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -15px;
    box-shadow: -20px 11px 20px 0px lightslategrey;
}


img.profileImg {
    display: block;
    width: 75%;
    margin: auto;
    border-radius: 5px;  
}
.imgContainer {
    padding: 30px 0 30px;
    background-image: url(./images/pattern-bg.svg);
    background-repeat: no-repeat;
    background-position: 77% 100%;
    background-size: 97%;
    width: 90%;
    margin: auto;
}
.hideProfile {
   
}
main {
    padding-top: 50px;
 /*   background-image: url(./images/pattern-bg.svg);
    background-repeat: no-repeat;
    background-position: 50% 6%;
    background-size: 90%; */
}
.quortes {
    background-image: url(./images/pattern-quotes.svg);
    background-size: 20%;
    width: 80%;
    margin: auto;
    background-repeat: no-repeat;
    background-position: center 30px;
    padding-top: 70px;
    text-align: center;
}
blockquote {
    /*margin-top: 25px;*/
}
footer img{
   width: 75%;
}

@media screen and (min-width: 860px) {
    main {       
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .profile {
        grid-area: 1/2/1/2;
    }
}